.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.holidayRequest__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.holidayRequest__container {
    width: 50%;
    height: 100%;
    margin-top: 40px;
    margin-right: 40px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
}

.holidayRequest__input {
    width: 150px;
}

.holidayRequest__data_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
    padding: 20px 5%;
    color: #000;
    background-color: #fff;
}

.holidayRequest__field_container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.holidayRequest__months-dropdown {
    width: 100%;
    margin-bottom: 20px;

    select {
        width: inherit;
    }
}

.holidayRequest__button_container {
    display: flex;
    justify-content: end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    gap: 50px;
    background-color: #fff;
}