.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.holidayRequestList__container {
    width: 50%;
    height: 100%;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    -webkit-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
}

.holidayRequestList__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.holidayRequestList__data_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
    padding: 20px 5%;
    color: #000;
    background-color: #fff;
}

.holidayRequestList__content {
    overflow-y: auto;
}

.holidayRequestList__no-requests-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}