.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.reports__container {
    width: 50%;
    padding: 40px;
    color: #fff;
}

.reports__header {
    border: 1px solid #e4f1fe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    background-color: #005689; 
}

.reports__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e4f1fe;
    padding: 20px 5%;
    background-color: #007cb9;
    height: 100%;
    max-height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

