.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.accountManagement__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 10px;
    color: #fff;
    -webkit-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
}

.accountManagement__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.accountManagement__data_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
    padding: 20px 5%;
    color: #000;
    background-color: #fff;
}

.accountManagement__field_container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 2rem;
}

.accountManagement__input {
    padding: 5px;
    width: 250px;
}

.accountManagement__button_container {
    display: flex;
    justify-content: end;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    gap: 50px;
    background-color: #fff;
}

.accountManagement__message-error {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: var(--red);

    margin-top: -1.5rem;
    padding-bottom: 1.9rem;
  }

.accountManagement__message-success {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: #00FF42;

    margin-top: -1.5rem;
    padding-bottom: 1.9rem;
}