.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.accountManagement__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    color: #fff;
}

.accountManagement__header {
    border: 1px solid #e4f1fe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    background-color: #005689; 
}

.accountManagement__data_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4f1fe;
    border-bottom: none;
    padding: 20px 5%;
    background-color: #007cb9;
}

.accountManagement__field_container {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 2rem;
}

.accountManagement__input {
    padding: 5px;
    width: 250px;
}

.accountManagement__button_container {
    display: flex;
    justify-content: end;
    border: 1px solid #e4f1fe;
    background-color: #007cb9;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    gap: 50px;
}

.accountManagement__message-error {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: var(--red);

    margin-top: -1.5rem;
    padding-bottom: 1.9rem;
  }

.accountManagement__message-success {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: #00FF42;

    margin-top: -1.5rem;
    padding-bottom: 1.9rem;
}