.main-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 20px auto; 
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

@media (min-width: 1025px) {
    .main-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        height: calc(100vh - 170px);
        margin: 20px auto;
        max-width: 500px;
    }

    .main-page__navigation-button {
        width: 300px;
        height: 100%;
        border-radius: 3rem;
        background-color: #227dba;
        font-family: roboto;
        font-size: 4rem;
        font-weight: 100;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
      
        &:after {
          background-color: yellow;
          color: #000;
          border-radius: 3rem;
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(10deg);
          transform-origin: top left;
          transition: 0.2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }
      
        &:hover::after {
          transform: translate(0, 0);
          color: #000;
        }
      
        &:hover {
          color: #000;
          transform: scale(1.05);
          will-change: transform;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        height: 100%;

        &:hover {
            color: #000;
            font-size: 22px;
        }
    }
}
