.main {
    display: flex;
    flex-direction: row;
}

.categories-dropdown {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}

.reports-dropdown {
    display: none;
}

a {
    background-color: transparent;
    padding: inherit;
}

.dropdown:hover .reports-dropdown {
    display: block;
}

.reports-dropdown__employee {
    display: none;
}

.dropdown__employee:hover .reports-dropdown__employee {
    display: block;
}

.reports-dropdown__holiday {
    display: none;
}

.dropdown__holiday-plans:hover .reports-dropdown__holiday {
    display: block;
}

@media (min-width: 1025px) {
    .dropdown:hover .reports-dropdown {
        display: block;
    }
    
    .reports-dropdown__employee {
        display: none;
    }
    
    .dropdown__employee:hover .reports-dropdown__employee {
        display: block;
    }
    
    .reports-dropdown__holiday {
        display: none;
    }
    
    .dropdown__holiday-plans:hover .reports-dropdown__holiday {
        display: block;
    }
}