:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
  
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
  
    --color-grey-dark-0: rgb(21, 21, 21);
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
  
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  
    --shadow: 0 0.8rem 0 rgba(4, 1, 1, 0.15);
  
    --line: 1px solid var(--color-grey-light-2);
  
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
  }
  
  $bp-medium: 41.125em; // 658px
  $bp-small-1: 37.5em; // 600px
  $bp-small-2: 26.875em; // 430px
  $bp-small-3: 23.4375em; // 375px
  
  * {
    margin: 0;
    padding: 0;
    // outline: 1px solid white;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
  
    background: #0040C1;
  }
  
  main {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
  
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    @media only screen and (max-width: $bp-small-2) {
      flex-direction: column;
    }
  
    @media only screen and (max-width: $bp-small-2) {
      padding: 5rem 5rem 0 5rem;
    }
  
    @media only screen and (max-width: $bp-small-3) {
      padding: 5rem 2.4rem 0 2.4rem;
    }
  }


.left-panel {
  width: 49.8rem;
  margin-right: 7rem;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 1rem;
  }

  @media only screen and (max-width: $bp-small-2) {
    width: auto;
    margin: 0;
    text-align: center;
  }

  &__title {
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 5.5rem;
    color: white;
    margin-top: 0.7rem;

    @media only screen and (max-width: $bp-small-2) {
      font-size: 2.8rem;
      line-height: 3.5rem;
      font-weight: 600;
      margin-top: -0.8rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    line-height: 2.6rem;
    margin-top: 2.7rem;
    word-spacing: 0rem;
    text-align: left;
    opacity: 0.9;

    @media only screen and (max-width: $bp-small-2) {
      margin: 2.3rem 0 0 0;
      text-align: center;
    }
  }
}

.right-panel {
  width: 54rem;

  @media only screen and (max-width: $bp-small-2) {
    width: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;

    background: white;
    // margin-top: 2.4rem;
    border-radius: 1rem;

    padding: 4rem 4rem 3rem 4rem;

    box-shadow: var(--shadow);

    @media only screen and (max-width: $bp-small-2) {
      padding: 2.5rem;
    }

    @media only screen and (max-width: $bp-small-3) {
      padding: 2.4rem;
    }

    &__section {
      width: 100%;
      position: relative;
      height: 5.6rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: $bp-small-2) {
        margin-bottom: 1.6rem;
      }

      input {
        width: 100%;
        max-width: inherit;
        margin: auto;
        padding: 0 3rem;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-grey-dark-1);
        outline: none;
        border-radius: 0.5rem;
        border: 1px solid var(--color-grey-light-3);

        &:focus {
          border: 1px solid var(--blue);
          caret-color: var(--blue);
        }
        &:focus
          + .right-panel__form__section__label
          .right-panel__form__section__label__content,
        &:valid
          + .right-panel__form__section__label
          .right-panel__form__section__label__content {
          visibility: hidden;
        }
        &__error {
          border: 2px solid var(--red);
          color: var(--red);
        }
      }

      &__label {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
      }

      &__label {
        pointer-events: none;

        &__content {
          position: absolute;
          top: 1.7rem;
          left: 3.3rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--color-grey-dark-3);

          @media only screen and (max-width: $bp-small-2) {
            left: 1.9rem;
          }
        }
      }

      &__icon-error {
        position: absolute;
        bottom: 1rem;
        right: 2.7rem;
      }
    }

    &__btn {
      background: var(--green);
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      height: 5.6rem;
      border: none;
      border-radius: 0.5rem;
      padding-top: 0.2rem;
      letter-spacing: 0.1rem;
    }

    .message-error {
      text-align: right;
      font-size: 1.1rem;
      font-weight: 500;
      font-style: italic;
      color: var(--red);

      margin-top: -1.5rem;
      padding-bottom: 1.9rem;
    }
  }
}
