.calendarUserInfo__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);
    box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);

    .calendarUserInfo__user {
        &:not(:last-child) {
            border-bottom: 1px solid #efefef;
        }

        &:not(:first-child) {
            border-top: 1px solid #efefef;
        }

        .calendarUserInfo__user-description-container {
            border: none;
        }
    }
}

.calendarUserInfo__user {
    display: flex;
    flex-direction: column;
}

.calendarUserInfo__user-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendarUserInfo__user-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calendarUserInfo__user-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.calendarUserInfo__user-holiday {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}