.CalendarUserInfo__main {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 80px;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);
    box-shadow: 12px 11px 11px -9px rgba(66, 68, 90, 1);
}