.listRow__user-data-header {
    font-size: 0.9em;
}

.listRow__header-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.listRow__user-data-subheader {
    font-size: 13px;
}

.listRow__request-title {
    padding-bottom: 10px;
}

.listRow__request-content-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.listRow__main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    border-bottom: 1px solid #000;

    &:last-child {
        border: none;
    }
}

.listRow__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    height: 100%;
    padding: 10px;
}

.expanded {
    height: 380px;
}

.highlight {
    background-color: #fbff00;
    transition: all 1s ease;
}

.listRow__button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}